body {
    margin: 0 auto;
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555555;
}

h1,
h2,
strong {
    color: #333;
}

.nav {
    background-color: #77d8d8;
    color: #ffffff;
    font-weight: 400;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    color: orange;
    font-weight: 700;
}